<config>
    <modules>
        <Innobyte_EmagMarketplace>
            <version>1.0.0</version>
        </Innobyte_EmagMarketplace>
    </modules>
    <global>
        <blocks>
            <innobyte_emag_marketplace>
                <class>Innobyte_EmagMarketplace_Block</class>
            </innobyte_emag_marketplace>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>Innobyte_EmagMarketplace_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <innobyte_emag_marketplace>
                <class>Innobyte_EmagMarketplace_Helper</class>
            </innobyte_emag_marketplace>
        </helpers>
        <models>
            <innobyte_emag_marketplace>
                <class>Innobyte_EmagMarketplace_Model</class>
                <resourceModel>innobyte_emag_marketplace_resource</resourceModel>
            </innobyte_emag_marketplace>
            <customer>
                <rewrite>
                    <form>Innobyte_EmagMarketplace_Model_Customer_Form</form>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <order_status>Innobyte_EmagMarketplace_Model_Sales_Order_Status</order_status>
                </rewrite>
            </sales>
            <sales_resource>
                <order_item_collection>Innobyte_EmagMarketplace_Model_Resource_Sales_Order_Item_Collection</order_item_collection>
            </sales_resource>

            <innobyte_emag_marketplace_resource>
                <class>Innobyte_EmagMarketplace_Model_Resource</class>
                <entities>
                    <sales_quote>
                        <table>innobyte_emag_marketplace_sales_flat_quote</table>
                    </sales_quote>
                    <sales_order>
                        <table>innobyte_emag_marketplace_sales_flat_order</table>
                    </sales_order>
                    <sales_quote_voucher>
                        <table>innobyte_emag_marketplace_sales_flat_quote_voucher</table>
                    </sales_quote_voucher>
                    <sales_order_voucher>
                        <table>innobyte_emag_marketplace_sales_flat_order_voucher</table>
                    </sales_order_voucher>
                    <sales_invoice>
                        <table>innobyte_emag_marketplace_sales_flat_invoice</table>
                    </sales_invoice>
                    <sales_quote_address>
                        <table>innobyte_emag_marketplace_sales_flat_quote_address</table>
                    </sales_quote_address>
                    <sales_order_address>
                        <table>innobyte_emag_marketplace_sales_flat_order_address</table>
                    </sales_order_address>
                    <sales_order_item>
                        <table>innobyte_emag_marketplace_sales_flat_order_item</table>
                    </sales_order_item>
                    <category>
                        <table>innobyte_emag_marketplace_category</table>
                    </category>
                    <category_characteristic>
                        <table>innobyte_emag_marketplace_category_characteristic</table>
                    </category_characteristic>
                    <category_familytype>
                        <table>innobyte_emag_marketplace_category_familytype</table>
                    </category_familytype>
                    <category_familytype_characteristic>
                        <table>innobyte_emag_marketplace_category_familytype_characteristic</table>
                    </category_familytype_characteristic>
                    <product>
                        <table>innobyte_emag_marketplace_product</table>
                    </product>
                    <product_barcode>
                        <table>innobyte_emag_marketplace_product_barcode</table>
                    </product_barcode>
                    <product_cat_characteristic>
                        <table>innobyte_emag_marketplace_product_cat_characteristic</table>
                    </product_cat_characteristic>
                    <vat>
                        <table>innobyte_emag_marketplace_vat</table>
                    </vat>
                    <locality>
                        <table>innobyte_emag_marketplace_locality</table>
                    </locality>
                </entities>
            </innobyte_emag_marketplace_resource>
        </models>
        <resources>
            <innobyte_emag_marketplace_setup>
                <setup>
                    <module>Innobyte_EmagMarketplace</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </innobyte_emag_marketplace_setup>
            <innobyte_emag_marketplace_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </innobyte_emag_marketplace_write>
            <innobyte_emag_marketplace_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </innobyte_emag_marketplace_read>
        </resources>
        <sales>
            <quote>
                <totals>
                    <emag_vouchers>
                        <class>innobyte_emag_marketplace/sales_quote_address_total_voucher</class>
                        <after>subtotal</after>
                        <admin_renderer>innobyte_emag_marketplace/adminhtml_sales_order_create_totals_voucher</admin_renderer>
                    </emag_vouchers>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <emag_vouchers>
                        <class>innobyte_emag_marketplace/sales_order_invoice_total</class>
                        <after>grand_total</after>
                    </emag_vouchers>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <emag_vouchers>
                        <class>innobyte_emag_marketplace/sales_order_creditmemo_total</class>
                        <after>weee,discount,tax,grand_total</after>
                    </emag_vouchers>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <emag_voucher translate="title">
                    <title>eMAG Voucher</title>
                    <source_field>emag_vouchers</source_field>
                    <model>Innobyte_EmagMarketplace_Model_Invoice_Pdf_Total_Voucher</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>200</sort_order>
                </emag_voucher>
            </totals>
        </pdf>
        <events>
            <sales_order_invoice_register>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>invoiceRegister</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_invoice_register>
            <sales_order_place_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>orderAfterPlace</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_place_after>
            <sales_order_save_before>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>orderBeforeSave</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_save_before>
            <sales_order_status_load_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>updateOrderStatus</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_status_load_after>

            <!--ENTITY AFTER SAVE-->
            <sales_quote_save_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>quoteAfterSave</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_quote_save_after>
            <sales_order_save_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>orderAfterSave</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_save_after>
            <sales_order_item_save_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>orderItemAfterSave</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_item_save_after>

            <!--ENTITY AFTER LOAD-->
            <sales_quote_load_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>quoteAfterLoad</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_quote_load_after>
            <sales_order_load_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>orderAfterLoad</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_load_after>
            <sales_order_invoice_load_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>invoiceAfterLoad</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_invoice_load_after>
            <sales_order_creditmemo_load_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>creditmemoAfterLoad</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_creditmemo_load_after>

            <!--ENTITY ADDRESS AFTER SAVE-->
            <sales_quote_address_save_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>quoteAddressAfterSave</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_quote_address_save_after>
            <sales_order_address_save_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>orderAddressAfterSave</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_address_save_after>

            <!--ENTITY ITEM COLLECTION AFTER LOAD-->
            <sales_order_item_collection_load_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>orderItemCollectionAfterLoad</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_item_collection_load_after>

            <!--ENTITY ADDRESS ATTRIBUTE COLLECTION AFTER LOAD-->
            <sales_quote_address_collection_load_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>quoteAddressCollectionAfterLoad</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_quote_address_collection_load_after>
            <sales_order_address_collection_load_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>orderAddressCollectionAfterLoad</method>
                    </innobyte_emag_marketplace>
                </observers>
            </sales_order_address_collection_load_after>

            <!--CONVERT CUSTOMER-->
            <core_copy_fieldset_customer_account_to_quote>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertCustomerAccountToQuote</method>
                    </innobyte_emag_marketplace>
                </observers>
            </core_copy_fieldset_customer_account_to_quote>
            <core_copy_fieldset_customer_address_to_quote_address>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertCustomerAddressToQuoteAddress</method>
                    </innobyte_emag_marketplace>
                </observers>
            </core_copy_fieldset_customer_address_to_quote_address>

            <!--CONVERT QUOTE-->
            <core_copy_fieldset_sales_convert_quote_to_order>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertSalesConvertQuoteToOrder</method>
                    </innobyte_emag_marketplace>
                </observers>
            </core_copy_fieldset_sales_convert_quote_to_order>
            <core_copy_fieldset_sales_convert_quote_address_to_order_address>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertSalesConvertQuoteAddressToOrderAddress</method>
                    </innobyte_emag_marketplace>
                </observers>
            </core_copy_fieldset_sales_convert_quote_address_to_order_address>
            <core_copy_fieldset_sales_convert_quote_address_to_customer_address>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertQuoteAddressToCustomerAddress</method>
                    </innobyte_emag_marketplace>
                </observers>
            </core_copy_fieldset_sales_convert_quote_address_to_customer_address>
            <core_copy_fieldset_checkout_onepage_quote_to_customer>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertCheckoutOnepageQuoteToCustomer</method>
                    </innobyte_emag_marketplace>
                </observers>
            </core_copy_fieldset_checkout_onepage_quote_to_customer>

            <!--CONVERT ORDER-->
            <core_copy_fieldset_sales_copy_order_to_edit>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertSalesCopyOrderToEdit</method>
                    </innobyte_emag_marketplace>
                    <innobyte_emag_marketplace_vouchers>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertSalesCopyOrderVoucherToEdit</method>
                    </innobyte_emag_marketplace_vouchers>
                </observers>
            </core_copy_fieldset_sales_copy_order_to_edit>
            <core_copy_fieldset_sales_convert_order_to_invoice>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertSalesCopyOrderToEdit</method>
                    </innobyte_emag_marketplace>
                    <innobyte_emag_marketplace_vouchers>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertSalesCopyOrderVoucherToEdit</method>
                    </innobyte_emag_marketplace_vouchers>
                </observers>
            </core_copy_fieldset_sales_convert_order_to_invoice>
            <core_copy_fieldset_sales_convert_order_to_cm>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertSalesCopyOrderToEdit</method>
                    </innobyte_emag_marketplace>
                    <innobyte_emag_marketplace_vouchers>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertSalesCopyOrderVoucherToEdit</method>
                    </innobyte_emag_marketplace_vouchers>
                </observers>
            </core_copy_fieldset_sales_convert_order_to_cm>

            <core_copy_fieldset_sales_copy_order_billing_address_to_order>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertSalesCopyOrderBillingAddressToOrder</method>
                    </innobyte_emag_marketplace>
                </observers>
            </core_copy_fieldset_sales_copy_order_billing_address_to_order>
            <core_copy_fieldset_sales_copy_order_shipping_address_to_order>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <method>convertSalesCopyOrderShippingAddressToOrder</method>
                    </innobyte_emag_marketplace>
                </observers>
            </core_copy_fieldset_sales_copy_order_shipping_address_to_order>
        </events>

        <template>
            <email>
                <Innobyte_EmagMarketplace_general_settings_template translate="label" module="innobyte_emag_marketplace">
                    <label>Innobyte EmagMarketplace Order Sync Errors</label>
                    <file>innobyte/emag_marketplace/errors.html</file>
                    <type>html</type>
                </Innobyte_EmagMarketplace_general_settings_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <innobyte_emag_marketplace after="Mage_Adminhtml">Innobyte_EmagMarketplace_Adminhtml</innobyte_emag_marketplace>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <type>singleton</type>
                        <method>addEmagButtonsToOrderView</method>
                    </innobyte_emag_marketplace>
                </observers>
            </adminhtml_widget_container_html_before>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/catalog_product_observer</class>
                        <type>singleton</type>
                        <method>addEmagProductMassActions</method>
                    </innobyte_emag_marketplace>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
            <catalog_product_save_after>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/catalog_product_observer</class>
                        <type>singleton</type>
                        <method>saveProductEmagData</method>
                    </innobyte_emag_marketplace>
                </observers>
            </catalog_product_save_after>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <innobyte_emag_marketplace>
                        <class>innobyte_emag_marketplace/sales_observer</class>
                        <type>singleton</type>
                        <method>applyEmagShippingMethod</method>
                    </innobyte_emag_marketplace>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
        </events>
        <layout>
            <updates>
                <innobyte_emag_marketplace>
                    <file>innobyte/emag_marketplace.xml</file>
                </innobyte_emag_marketplace>
            </updates>
        </layout>
        <translate>
            <modules>
                <Innobyte_EmagMarketplace>
                    <files>
                        <default>Innobyte_EmagMarketplace.csv</default>
                    </files>
                </Innobyte_EmagMarketplace>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <innobyte_emag_marketplace>
                <use>standard</use>
                <args>
                    <module>Innobyte_EmagMarketplace</module>
                    <frontName>marketplace</frontName>
                </args>
            </innobyte_emag_marketplace>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <innobyte_emag_marketplace_cron>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>innobyte_emag_marketplace/cron::someMethod</model>
                </run>
            </innobyte_emag_marketplace_cron>
        </jobs>
    </crontab>

    <default>
        <carriers>
            <emagshipping>
                <active>1</active>
                <model>innobyte_emag_marketplace/shipping_carrier_emag</model>
                <title>eMAG Shipping</title>
                <name>eMAG Standard Delivery</name>
                <sort_order>1</sort_order>
                <sallowspecific>0</sallowspecific>
            </emagshipping>
        </carriers>

        <payment>
            <emag_banktransfer>
                <active>1</active>
                <title>eMAG Bank Transfer</title>
                <model>innobyte_emag_marketplace/payment_method_banktransfer</model>
                <order_status>emag_new</order_status>
                <sort_order>1</sort_order>
            </emag_banktransfer>
            <emag_cashondelivery>
                <active>1</active>
                <title>eMAG Cash on Delivery</title>
                <model>innobyte_emag_marketplace/payment_method_cashondelivery</model>
                <order_status>emag_new</order_status>
                <sort_order>2</sort_order>
            </emag_cashondelivery>
            <emag_cc>
                <active>1</active>
                <title>eMAG Credit Card</title>
                <model>innobyte_emag_marketplace/payment_method_cc</model>
                <order_status>emag_new</order_status>
                <sort_order>3</sort_order>
            </emag_cc>
            <emag_unknown>
                <active>1</active>
                <title>eMAG Unknown</title>
                <model>innobyte_emag_marketplace/payment_method_unknown</model>
                <order_status>emag_new</order_status>
                <sort_order>4</sort_order>
            </emag_unknown>
        </payment>

        <Innobyte_EmagMarketplace>
            <general_settings>
                <template>Innobyte_EmagMarketplace_general_settings_template</template>
            </general_settings>
            <api_settings>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
            </api_settings>
        </Innobyte_EmagMarketplace>

        <!-- api call settings, can be overridden easely in modules that <depends> on this one -->
        <innobyte_emag_marketplace_http_call_adapter>Zend_Http_Client_Adapter_Curl</innobyte_emag_marketplace_http_call_adapter>
        <innobyte_emag_marketplace_http_call_timeout>40</innobyte_emag_marketplace_http_call_timeout>
    </default>
</config>